NEXT_PUBLIC_API_MODE=direct
NEXT_PUBLIC_ZEROQ_API_URL=http://localhost:20180
NEXT_PUBLIC_AUTH_API_URL=http://localhost:9000
NEXT_PUBLIC_CLIENT_ID=zeroq-front-service

# Cloud Gateway/Eureka mode
# NEXT_PUBLIC_API_MODE=gateway
# NEXT_PUBLIC_API_URL=http://localhost:8080
